
#top {
    position: relative;
    background-color: #ffffff;
    color: black;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    height: 10vh;
    background-image: url("../images/omaseutukirppis3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 53%;
}

#top_left {
    height: 10vh;
    width: 20vw;
}

#top_center {
    position: relative;
    height: 10vh;
    width: 60vw;
    margin: 0px 0px 0px 0px;
    background-image: url("../images/omaseutukirppis3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 53%;
}

#top_right {
    
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    height: 10vh;
}

#left {
    float: left;
    background-color: #ffffff;
    padding: 5px;
    width: 20vw;
    height: 80vh;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 0px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #ffffff;
    padding: 5px;
    margin-left: 170px;
    height: 80vh;
    //background-image: url("../images/omaseutukirppis3.png");
    //background-repeat: no-repeat;
    //background-position: top center;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

#searchbox {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-size: 25px, 20px;
    background-position: right;
    
}

.fb-login-button {
    float: right;
}