/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2014, 4:52:15 PM
    Author     : Jani
*/
html, body, #wrapper
{
    width: 100%;
    margin: 0;
    float: left;
    min-height: 100%;
    height: 100%;
}

#header
{
    width: 100%;
    float: left;
    height: 15%;
}

#content
{
    width: 100%;
    clear: both;
    min-height: 75%;
    position: relative;
    overflow: auto;
}

#header_left, #header_right
{
    float: left;
    width: 20%;
    min-height: 100%;
}

#fblogin {
    margin-top: 7%;
    margin-left: 20%;
}

b
{
    color: black;
    font-size: 16px;    
}

b:hover
{
    cursor: pointer;
}

.p_button
{
    width: 132px;
}

#header_center
{
    float: left;
    width: 60%;
    height: 100%;
    background-image: url("../images/omaseutukirppis3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#left_panel
{
    width: 20%;
    min-height: 98%;
    height: auto;
    position: absolute;
    text-align: left;
}

#panelmenu
{
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
}

#footer
{
    width: 100%;
    height: 10%;
    clear: both;
    text-align: center;
    background-color: #D2B48C; //http://www.w3schools.com/cssref/css_colornames.asp
    position: relative;
    font-size: 10pt;
}

p
{
    margin: 0;
}

#searchbox {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-size: 25px, 20px;
    background-position: right;    
}

#search {
    display: block;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 12%;
}
#search button {
    float: right;
}
#search span {
    display: block;
    overflow: hidden;
}
#search input {
    width: 97%;
    height: 1.3em;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.col1
{
    width: 3%;
}

.col2
{
    width: 15%;
}

.col3
{
    width: auto;
}

.col4
{
    width: 5%;
}